section[b-bp86oil0ym] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Let the big buttons stack vertically on mobile */
    
    
}

.nav-item[b-bp86oil0ym] {
    flex-grow: 1;
    margin: 20px;
    height: 100px;
    
}

.nav-item[b-bp86oil0ym]  a {
    font-family: monospace;
    color: var(--text-primary); 
    border-radius: 4px;
    height: 100%; 
    
    
    display: flex;
    align-items: center;
    justify-content: center; /* Center the text inside the big block */
    background-color: var(--color-accent); 
}

.nav-item[b-bp86oil0ym]  a.active {
    background-color: rgba(255, 0, 0, 0.37);
    
    font-weight: bolder;
    text-decoration: underline;
}

.nav-item[b-bp86oil0ym]  a:hover {
    background-color: rgba(174, 0, 255, 0.427);
    
    font-weight: bolder;
    text-decoration: underline;
}